.wrapper{
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}

.messageArea {
    display: grid;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 400px;
    margin-right: auto;
    background-color: #3da345;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    word-break: break-word;
}

.messageOwner {
    margin-left: auto;
    margin-right: 0;
}

.message > span {
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
}
